#gkCard {
    font-size: small;
    height: 22vh;
    margin-bottom: 2vh;
    width: 10vw;
}

#defCard {
    font-size: small;
    height: 22vh;
    margin-bottom: 2vh;
    width: 10vw;
}

#midCard {
    font-size: small;
    height: 22vh;
    margin-bottom: 2vh;
    width: 10vw;
}

#fwdCard {
    font-size: small;
    height: 22vh;
    margin-bottom: 2vh;
    width: 10vw;
}

#gkDiv {
    height: 30vh;
    margin-top: -15vh;
    margin-left: 5vw;
    border-radius: 1em;
    padding: 2vh;
}

#defDiv {
    overflow-y: scroll;
    height: 30vh;
    margin-top: 5vh;
    margin-left: 5vw;
    border-radius: 1em;
    padding: 2vh;
    margin-bottom: 10vh;
}

#midDiv {
    overflow-y: scroll;
    height: 30vh;
    margin-top: 5vh;
    margin-left: 5vw;
    padding: 2vh;
    border-radius: 1em;
}

#fwdDiv {
    overflow-y: scroll;
    height: 30vh;
    margin-top: -15vh;
    margin-left: 5vw;
    padding: 2vh;
    border-radius: 1em;
}

#mainDiv {
    background-color: rgba(255, 255, 255, 0.8);
    height: 80vh;
    margin-bottom: -80vh;
    border-radius: 1em;
}

#teamName {
    float: right;
}

#lhTile3 {
    top: 15vh;
}

#lhTile4 {
    top: 10vh;
}

.lhTile {
    height: 26vh;
    width: fit-content;
    margin-top: 5vh;
    color: black;
    font-size: large;
    text-shadow: white 1px 1px;
}

.team-form {
    margin-top: -20vh;
    margin-left: 25vw;
    padding: 5vh;
    border-radius: 1em;
}