@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Roboto+Condensed:wght@300&family=Ubuntu:wght@500&display=swap');
html {
    color: #3d195b;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1568194157720-8bbe7114ebe8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2664&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}